/tools/
/samples/physTest
/samples/*/develop
/samples/*/game*
/samples/*/tools
/samples/*/application.blk
/outerSpace/develop
/outerSpace/game*
/outerSpace/tools
/outerSpace/fmod_project
/outerSpace/application.blk
/_output/
/devtools/
/.vs/
/prog/platform.jam
*.pyc
*.das.inl
*.dshl.log
ShaderLog-*
