:root {
    --sd-color-white: #d1d1d1;
    --sd-color-primary-text: #d1d1d1;
    --sd-color-secondary-text: #d1d1d1;
    --sd-color-success-text: #d1d1d1;
    --sd-color-info-text: #d1d1d1;
    --sd-color-danger-text: #d1d1d1;
    --sd-color-muted-text: #d1d1d1;
    --sd-color-dark-text: #d1d1d1;
    --sd-color-black-text: #d1d1d1;

}

.wy-side-nav-search, .wy-nav-top {
    background: #1a1c1e;
}

.wy-side-nav-search .wy-dropdown > a img.logo, .wy-side-nav-search > a img.logo {
    width: 75%;
}

/* Override width of the main page*/

.wy-nav-content{
    max-width: 100%;
}

audio, canvas, video {
    display: block;
    margin: auto;
    margin-bottom: 12px;
}

.rst-content code, .rst-content tt, code, kbd, pre, samp {
    font-family: monospace,serif;
    _font-family: courier new,monospace;
    font-size: 0.95em;
}

.rst-content .linenodiv pre, .rst-content div[class^=highlight] pre, .rst-content pre.literal-block {
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, Courier, monospace;
    font-size: 0.95em;
    line-height: 1.4;
}

/* Override margins of the images and text blocks*/

.rst-content .align-center {
    margin-bottom: 14px;
}

p {
    margin-bottom: 14px;
}

/* Customization for icon-style numbering of menu items or objects in a picture
for use in text */

.sd-badge {
    /* display: inline-block; */
    padding: .25em .55em;
    font-size: .8em;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: .5rem;
}

.sd-outline-dark {
    border-width: 0.15em !important;
}


