---
Checks: '-*,readability-identifier-naming'
CheckOptions:
  readability-identifier-naming.LocalVariableCase: camelBack
  readability-identifier-naming.ParameterCase: lower_case
  readability-identifier-naming.MethodCase: camelBack
  readability-identifier-naming.FunctionCase: lower_case
  readability-identifier-naming.ClassCase: CamelCase
  readability-identifier-naming.StructCase: CamelCase
  readability-identifier-naming.EnumCase: CamelCase
  readability-identifier-naming.TypeAliasCase: CamelCase
  readability-identifier-naming.TypedefCase: CamelCase
  readability-identifier-naming.ConstexprVariableCase: UPPER_CASE
  readability-identifier-naming.MacroDefinitionCase: UPPER_CASE
