<?xml version="1.0" encoding="utf-8"?>
<Game configVersion="1">
  <Identity Name="%TITLE_NAME%" Publisher="%TITLE_PUBLISHER%" Version="%TITLE_VERSION%" />

  <PersistentLocalStorage>
    <SizeMB>4096</SizeMB>
  </PersistentLocalStorage>

  <VirtualMachine>
    <%TARGET_MEMORY_TAG%>Advanced</%TARGET_MEMORY_TAG%>
  </VirtualMachine>

  <ExecutableList>
    <Executable Name="%TITLE_EXE%" TargetDeviceFamily="%DEVICE_FAMILY%" Id="Game" />
  </ExecutableList>

  <ShellVisuals DefaultDisplayName="%TITLE_DISPLAY_NAME%"
                PublisherDisplayName="%TITLE_PUBLISHER_DISPLAY_NAME%"
                StoreLogo="media\systemLogo.png"
                Square150x150Logo="media\systemLogo.png"
                Square44x44Logo="media\smallLogo.png"
                Description="%TITLE_DESC%"
                ForegroundText="dark"
                BackgroundColor="#000000"
                SplashScreenImage="media\splashScreen.png"/>

  <Resources>
    <Resource Language="en-US"/>
    <Resource Language="ru-RU"/>
  </Resources>

  <DevelopmentOnly>
    <DebugNetworkPortList>
      <DebugNetworkPort>4600</DebugNetworkPort>
      <DebugNetworkPort>4601</DebugNetworkPort>
      <DebugNetworkPort>4711</DebugNetworkPort> <!-- PIX live shader debugger -->
      <DebugNetworkPort>9264</DebugNetworkPort> <!-- fmod profiler -->
      <DebugNetworkPort>31500</DebugNetworkPort>
    </DebugNetworkPortList>
  </DevelopmentOnly>
</Game>

